main {
  margin-top: 0;
}

body {
  background-color: #F6FDFD;
}

.displ{
  display: flex;
  float: right;
  font-weight: bold;
  color: rgba(72, 87, 112,0.8);
  font-size: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 1.5;
  font-family: 'Montserrat', sans-serif;
}
.temp{
  font-size: 90px;
}
.wi {
  color: #F6FDFD;
  font-size: 150px;
  margin-top: 50px;
  padding-bottom: 15px;
}
.dib{
  width:400px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;

}

.recuadro {
  background-color: rgba(175, 189, 206, 0.5);
  max-width: 700px;
  max-height: 980px;
  min-height: 500px
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.5);
  position: relative;
  display: flex;
  
}

.boton{
  border-radius: 10px;
  margin-top: 80px;
  outline: 0;
  width: 70%;
  background-color: transparent;
  color: rgba(72, 87, 112,0.8);
  border: 1px solid rgba(72, 87, 112,0.8);
}
.boton:active{
  border: 1px solid black;
}


/*****************************************************************************************
                 Responsive Media Queries
*****************************************************************************************/



@media only screen and (max-width: 766px) {
  .recuadro {
      flex-direction: column;
      width: 400px;
      height: 600px;
      padding: 0;
    }
     .dib{
      border-right: none;
      border-bottom: 1px solid black;
    }

}

@media screen and (max-width: 480px) {
    .recuadro {
      flex-direction: column;
      width: 400px;
      height: 700px;
      padding: 0;
    }
    .cond{
      padding-bottom: 40px;
    }
    .dib{
      border-right: none;
      /* border-bottom: 1px solid black; */
    }

    .boton{
      margin-bottom: 5px;
    }
}

@media screen and (max-width: 375px){
  .recuadro {
    flex-direction: column;
    width: 375px;
    height: 667px;
    padding: 0;
  }
  .dib{
    width: 375px;
    border-right: none;
    border-bottom: none;
    padding: 0;
  }
  .wi{
    font-size: 150px;
    margin-top: 40px;
    width: 375px;
  }
  .temp{
    font-size: 70px;
    width: 375px;
  }


}

@media screen and (max-width: 320px){
 
  .recuadro {
    flex-direction: column;
    width: 320px;
    height: 570px;
    padding: 0;
  }
  .cond{
    padding-bottom: 40px;
  }
  .dib{
    border-right: none;
    border-bottom: none;
    width: 320px;
    padding: 0;
  }
  .displ{
    width: 320px;
    padding: 0;
    font-size: 35px;
  }
  .wi{
    font-size: 80px;
    margin-top: 40px;
  }
.temp{
  font-size: 50px;
}
  .boton{
    margin-bottom: 5px;
  }

}