main {
  margin-top: 5%;
}

body {
  /*background-color: #e8edef;*/
  background-color: #fF6FDFD;
}

/*.a{
  color: #ff2d55;
}
.p{
  color: #ffcc22;
}
.pp{
  color: #4cd964;
}*/
/*.title {
  font-family: 'Montserrat', sans-serif;
  color: grey;
  font-weight: bold;
  font-size: 70px;
}*/
.displ{
  display: flex;
  float: right;
  font-weight: bold;
  color: #12192D;
  /*text-shadow: 2px 2px 0 black;*/
  font-size: 50px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  opacity: 1.5;
  font-family: 'Montserrat', sans-serif;
}
.temp{
  font-size: 90px;
}
.wi {
  color: #F6FDFD;
  font-size: 150px;
  margin-top: 50px;
  padding-bottom: 15px;
}
.dib{
  width:350px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;

}
@media screen and (max-width: 480px) {
    .recuadro {
      flex-direction: column;
      width: 400px;
      height: 612px;
    }
    .cond{
      padding-bottom: 40px;
    }
    .dib{
      border-right: none;
      border-bottom: 1px solid black;
    }

    .boton{
      margin-bottom: 5px;
    }
}
.recuadro {
  background-color: #94ACC9;
  opacity: 0.2;
  max-width: 740px;
  max-height: 980px;
  margin-top: 150px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px  black;
  display: flex;
}
.boton{
  border-radius: 10px;
  margin-top: 80px;
  outline: 0;
  width: 70%;

  background-color:#94ACC9;
  color: #12192D;
  border: 1px solid black;
}
.boton:active{
  border: 1px solid black;
}
